<h4 class="mat-typography !mb-1 flex">
  {{ label }}
  @if (tooltip) {
    <app-help-tooltip [tooltip]="tooltip"></app-help-tooltip>
  }
</h4>
<div class="mb-3 flex items-end gap-2">
  <div class="flex flex-col items-end">
    <span class="mb-2 flex">Main <app-help-tooltip tooltip="tooltip"></app-help-tooltip></span>
    <span class="flex pb-0">
      Contrast
      <app-help-tooltip
        tooltip="Contrast colors serve as text color when using a hue (main) as a background color"></app-help-tooltip>
    </span>
  </div>
  <div class="flex flex-wrap">
    @for (color of colors | keyvalue; track color.key) {
      <div>
        <span class="flex">
          {{ color.key | titlecase }}
          @if (getTooltip(color.key); as colorKeyTooltip) {
            <app-help-tooltip [tooltip]="colorKeyTooltip"></app-help-tooltip>
          }
        </span>
        <app-color-brick [(color)]="color.value.main" (colorChange)="onUpdateColors()"></app-color-brick>
        <div>
          <app-color-brick [(color)]="color.value.contrast" (colorChange)="onUpdateColors()"></app-color-brick>
        </div>
      </div>
    }
  </div>
</div>
