<div class="flex flex-col gap-5">
  <div class="flex flex-col gap-2">
    <span>Font</span>
    <div class="flex flex-wrap items-center">
      <app-color-brick [(color)]="fontLight"><span class="text-white">light</span></app-color-brick>
      <app-color-brick [(color)]="fontDark"><span class="text-black">dark</span></app-color-brick>
      <mat-checkbox [checked]="automaticContrast" matTooltip="Uncheck to sepcify contrast for every hue" class="ml-5">
        Determine contrast automatically
      </mat-checkbox>
    </div>
  </div>
  <app-color-palette
    name="Primary"
    [(palette)]="primaryPal"
    tooltip="For the color that appears most frequently throughout your application"
    (paletteChange)="updatePalette(primaryPalChange, primaryPal)"></app-color-palette>
  <app-color-palette
    name="Accent"
    [(palette)]="accentPal"
    tooltip="Secondary palette used to selectively highlight key parts of your UI"
    (paletteChange)="updatePalette(accentPalChange, accentPal)"></app-color-palette>
  <app-color-palette
    name="Warn"
    [(palette)]="warnPal"
    tooltip="Error palette used for warnings and error states. Default to material red."
    (paletteChange)="updatePalette(warnPalChange, warnPal)"></app-color-palette>
</div>
