<div class="flex flex-col justify-center gap-8">
  <div class="flex items-center justify-start gap-2">
    <div class="flex flex-col items-start justify-center gap-3">
      <div class="flex items-center">
        <mat-icon class="mat-icon mr-1">help_outline</mat-icon>
        Hide help tooltips
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-3">
      <mat-slide-toggle
        class="mx-2"
        [checked]="hideHelpTooltips()"
        (change)="updateHideHelpTooltips()"
        labelPosition="before">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <h5 class="mat-typography">Use preset themes :</h5>
    <mat-chip-listbox
      aria-label="Preset theme selection"
      class="mb-4"
      (change)="selectPresetTheme($event)"
      [value]="currentTheme().value">
      @for (theme of themes; track theme.value) {
        <mat-chip-option [value]="theme.value">{{ theme.label }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <mat-divider></mat-divider>
  <app-simple-theme
    name="my-custom-theme"
    label="Custom theme"
    [primary]="currentPrimaryPal()"
    [accent]="currentAccentPal()"
    [warn]="currentWarnPal()"
    [dark]="currentTheme().dark ?? false"></app-simple-theme>
</div>
