<div class="flex h-full flex-col overflow-hidden">
  <div class="flex-1 overflow-auto">
    <div class="flex flex-col justify-center gap-8 p-8">
      <div>
        <h1 class="mat-headline-4 !mb-1 whitespace-nowrap">
          ngx Material Themer <span class="text-base">v{{ appVersion }}</span>
        </h1>
        <p class="mat-body-1 text-black/75 dark:text-white/75">
          A tool to easily create your own Angular Material theme.
          <br />
          <span class="mb-3 text-sm text-black/60 dark:text-white/60">
            Based on Angular Material v{{ materialVersion }}, this may not work for earlier versions
          </span>
        </p>
        <p class="inline-block rounded-sm bg-blue-500/90 px-3 py-1 text-white">
          Advanced theming & m3 support coming soon!
        </p>
        <!-- <a class="mb-2 flex cursor-pointer items-center gap-2 underline">
          @if (isDarkMode()) {
            <img src="assets/svg/github-mark-white.svg" alt="github icon" width="20" />
          } @else {
            <img src="assets/svg/github-mark.svg" alt="github icon" width="20" />
          }
          Give it a star on Github!
        </a> -->
      </div>
      <div class="flex items-center justify-start gap-2">
        <div class="flex flex-col items-start justify-center gap-3">
          <div class="flex items-center">
            <mat-icon class="mat-icon mr-1">help_outline</mat-icon>
            Hide help tooltips
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-3">
          <mat-slide-toggle
            class="mx-2"
            [checked]="hideHelpTooltips()"
            (change)="updateHideHelpTooltips()"
            labelPosition="before">
          </mat-slide-toggle>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <h5 class="mat-typography">Use preset themes :</h5>
        <!-- <mat-chip-listbox
          aria-label="Preset theme selection"
          class="mb-4"
          (change)="selectPresetTheme($event)"
          [value]="currentTheme().value">
          @for (theme of themes; track theme.value) {
            <mat-chip-option [value]="theme.value">{{ theme.label }}</mat-chip-option>
          }
        </mat-chip-listbox> -->
        <div>
          @for (theme of themes; track theme.value) {
            <button mat-stroked-button class="m-2" (click)="selectPresetTheme(theme)">
              <div class="flex items-center justify-center gap-1">
                <div>
                  <div
                    [ngStyle]="{
                      'border-left-color': theme.firstColor,
                      'border-bottom-color': theme.firstColor,
                      'border-top-color': theme.secondColor,
                      'border-right-color': theme.secondColor
                    }"
                    class="h-0 w-0 items-center justify-center rounded-sm border-8 shadow-sm"></div>
                </div>
                <span class="ml-1">
                  {{ theme.label }}
                </span>
              </div>
            </button>
          }
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <!-- <mat-tab-group>
      <mat-tab label="Basic"> -->
    <div class="p-8"><app-simple-themer [currentTheme]="currentTheme()"></app-simple-themer></div>
    <!-- </mat-tab>
      <mat-tab label="Advanced">
        <div class="p-8"><app-simple-themer [currentTheme]="currentTheme()"></app-simple-themer></div>
      </mat-tab>
    </mat-tab-group> -->
  </div>
  <mat-divider></mat-divider>
  <div class="flex min-h-[100px] flex-col items-center justify-center p-8">
    <div class="flex gap-5">
      <button mat-raised-button (click)="downloadStyefile()" color="accent" class="max-w-64">
        <mat-icon class="mat-icon">download</mat-icon>
        <span>Download style file</span>
      </button>
      <button mat-raised-button (click)="copyStyefile()" color="accent" class="max-w-64">
        <mat-icon class="mat-icon">content_copy</mat-icon>
        <span>Copy style</span>
      </button>
    </div>
  </div>
</div>
