<div class="flex h-full flex-col overflow-hidden">
  <div class="flex-1 overflow-auto p-8">
    <div class="flex flex-col justify-center gap-8">
      <div>
        <h1 class="mat-headline-4 !mb-1 whitespace-nowrap">
          ngx Material Themer <span class="text-base">v{{ appVersion }}</span>
        </h1>
        <p class="mat-body-1 text-black/75 dark:text-white/75">
          A tool to easily create your own Angular Material theme.
          <br />
          <span class="mb-3 text-sm text-black/60 dark:text-white/60">
            Based on Angular Material v{{ materialVersion }}, this may not work for earlier versions
          </span>
        </p>
        <p class="inline-block rounded-sm bg-red-500/90 px-3 py-1 text-white">
          This is a work in progress, so come back later to see the final result!
        </p>
        <!-- <a class="mb-2 flex cursor-pointer items-center gap-2 underline">
          @if (isDarkMode()) {
            <img src="assets/svg/github-mark-white.svg" alt="github icon" width="20" />
          } @else {
            <img src="assets/svg/github-mark.svg" alt="github icon" width="20" />
          }
          Give it a star on Github!
        </a> -->
      </div>
      <app-simple-themer></app-simple-themer>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="flex min-h-[100px] flex-col items-center justify-center p-8">
    <div class="flex gap-5">
      <button mat-raised-button (click)="downloadStyefile()" color="accent" class="max-w-64">
        <mat-icon class="mat-icon">download</mat-icon>
        <span>Download style file</span>
      </button>
      <button mat-raised-button (click)="copyStyefile()" color="accent" class="max-w-64">
        <mat-icon class="mat-icon">content_copy</mat-icon>
        <span>Copy style</span>
      </button>
    </div>
  </div>
</div>
