<mat-accordion>
  <mat-expansion-panel #ref [ngClass]="{ '!overflow-visible': ref.closed }">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ name }}
        @if (tooltip) {
          <app-help-tooltip class="ml-1" [tooltip]="tooltip"></app-help-tooltip>
        }
      </mat-panel-title>
      <mat-panel-description>
        @for (color of colorsPreview(); track $index) {
          <div class="h-4 w-2" [ngStyle]="{ 'background-color': color }"></div>
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox [checked]="automaticShades()" (change)="updateAutomaticShades($event)" class="mb-3">
      <div class="flex items-center justify-start">
        Determine shades automatically
        <app-help-tooltip tooltip="Uncheck to specify each shade manually"></app-help-tooltip>
      </div>
    </mat-checkbox>
    <div class="flex w-full flex-col">
      <div
        cdkDropList
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)"
        class="example-list w-full !cursor-default">
        @for (color of colors(); track color.name) {
          <app-color-tile
            [color]="color.hexCode"
            (colorChange)="updateColor($event, color)"
            [label]="color.name"
            [text]="color.text"
            [textColor]="color.textColor"
            [marks]="color.marks"></app-color-tile>
        }
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
