<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="flex w-full items-center justify-between">
        <div class="flex">
          {{ name }}
          @if (tooltip) {
            <app-help-tooltip class="ml-1" [tooltip]="tooltip"></app-help-tooltip>
          }
        </div>
        <div class="flex">
          @for (color of colorsPreview(); track $index) {
            <div class="h-4 w-2" [ngStyle]="{ 'background-color': color }"></div>
          }
        </div>
        <button mat-icon-button (click)="openColorPicker($event)" class="relative">
          <mat-icon class="mat-icon mr-1">format_color_fill</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()" class="relative">
          <mat-icon class="mat-icon mr-1">palette</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="px-4">
          <h4 class="mat-typography">Material preset palettes</h4>
          <div class="grid grid-cols-6 items-center justify-center gap-2">
            @for (palette of colorPaletteConstants.materialpalettes; track palette.name) {
              <button (click)="setPalette(palette.matPalette)" [matTooltip]="palette.name | titlecase">
                <span
                  [style.background-color]="palette.hexCode"
                  class="flex h-5 w-5 items-center justify-center rounded-sm shadow-sm">
                </span>
              </button>
            }
          </div>
        </mat-menu>
      </mat-panel-title>
      <mat-panel-description class="flex w-full items-center justify-start"> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex w-full flex-col">
      <div class="example-list w-full !cursor-default">
        @for (color of colors(); track color.name) {
          <app-color-tile
            [color]="color.hexCode"
            (colorChange)="updateColor($event, color)"
            [label]="color.name"
            [text]="color.text"
            [textColor]="color.textColor"
            [marks]="color.marks"
            cdkDropList
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)"></app-color-tile>
        }
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
