<div>
  <h5 class="mat-typography">{{ label }}</h5>

  <div class="mb-3 flex max-w-[205px] flex-col gap-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-center">
        <mat-icon class="mat-icon mr-1 rotate-180">brightness_3</mat-icon>
        Define as dark
        <app-help-tooltip
          tooltip="This impact your Angular Materials components's background & text colors"></app-help-tooltip>
      </div>
      <mat-slide-toggle class="mx-2" [checked]="isLightTheme()" (change)="updateTheme($event)" labelPosition="before">
      </mat-slide-toggle>
    </div>
    <!-- <div class="flex items-center justify-between">
      <div class="flex items-center justify-center">
        <mat-icon class="mat-icon mr-1">palette</mat-icon>
        Palette mode
        <app-help-tooltip
          tooltip="Check this if you want to specify each hue of the Material palette. Keep in mind that this feature
        might be useless to customize the Angular Material components based on what I found in the source code."></app-help-tooltip>
      </div>
      <mat-slide-toggle
        class="mx-2"
        [checked]="isPalMode()"
        (change)="updatePaletteMode($event)"
        labelPosition="before">
      </mat-slide-toggle>
    </div> -->
  </div>
  <div class="flex flex-row flex-wrap items-center">
    <mat-form-field class="">
      <mat-label>Theme Name</mat-label>
      <span matTextPrefix>$&nbsp;</span>
      <input matInput placeholder="Ex. my-custom-theme" [value]="name" (input)="updateName($event)" />
    </mat-form-field>
    <app-help-tooltip tooltip="This is just the variable name of your theme"></app-help-tooltip>

    <div class="flex items-center justify-center pb-[22px] text-xs"></div>
  </div>
  <!-- <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <span>Font</span>
      <div class="flex flex-wrap items-center">
        <app-color-brick [(color)]="fontLight"><span class="text-white">light</span></app-color-brick>
        <app-color-brick [(color)]="fontDark"><span class="text-black">dark</span></app-color-brick>
        <mat-checkbox [checked]="automaticContrast" matTooltip="Uncheck to sepcify contrast for every hue" class="ml-5">
          Determine contrast automatically
        </mat-checkbox>
      </div>
    </div>
    <app-color-palette [(palette)]="primaryPal"></app-color-palette>
    <app-color-palette [(palette)]="accentPal"></app-color-palette>
    <app-color-palette [(palette)]="warnPal"></app-color-palette>
  </div> -->
  <!-- @if (isPalMode()) { -->
  <!-- <app-theme-palettes-mode
    [(primaryPal)]="primaryPal"
    [(accentPal)]="accentPal"
    [(warnPal)]="warnPal"
    [fontDark]="fontDark"
    [fontLight]="fontLight"
    [automaticContrast]="automaticContrast()"></app-theme-palettes-mode> -->
  <!-- } @else {
    <app-theme-classic-mode
      [primaryPal]="primaryPalSimplified()"
      [accentPal]="accentPalSimplified()"
      [warnPal]="warnPalSimplified()"
      [fontDark]="fontDark"
      [fontLight]="fontLight"
      [automaticContrast]="automaticContrast()"
      (primaryPalChange)="updatePal($event, primaryPal)"
      (accentPalChange)="updatePal($event, accentPal)"
      (warnPalChange)="updatePal($event, warnPal)"></app-theme-classic-mode>
  } -->
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <span>Font</span>
      <div class="flex flex-wrap items-center">
        <app-color-brick [(color)]="fontLight" (colorChange)="test($event)">
          <span class="text-black">light</span>
        </app-color-brick>
        <app-color-brick [(color)]="fontDark" (colorChange)="test($event)">
          <span class="text-white">dark</span>
        </app-color-brick>
        <mat-checkbox [checked]="automaticContrast" matTooltip="Uncheck to sepcify contrast for every hue" class="ml-5">
          Determine contrast automatically
        </mat-checkbox>
      </div>
    </div>
    <app-color-palette
      name="Primary"
      [fontLight]="fontLight"
      [fontDark]="fontDark"
      [defaultColor]="primary"
      (paletteChange)="updatePalette($event, 'primaryPal')"
      tooltip="For the color that appears most frequently throughout your application"></app-color-palette>
    <app-color-palette
      name="Accent"
      [fontLight]="fontLight"
      [fontDark]="fontDark"
      [defaultColor]="secondary"
      (paletteChange)="updatePalette($event, 'accentPal')"
      tooltip="Secondary palette used to selectively highlight key parts of your UI"></app-color-palette>
    <app-color-palette
      name="Warn"
      defaultColor="#f44336"
      [fontLight]="fontLight"
      [fontDark]="fontDark"
      (paletteChange)="updatePalette($event, 'warnPal')"
      tooltip="Error palette used for warnings and error states. Default to material red."></app-color-palette>
  </div>
</div>
