<div>
  <h5 class="mat-typography">{{ label }}</h5>

  <div class="mb-3 flex max-w-[205px] flex-col gap-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-center">
        <mat-icon class="mat-icon mr-1 rotate-180">brightness_3</mat-icon>
        Define as dark
        <app-help-tooltip
          tooltip="This impact your Angular Materials components's background & text colors"></app-help-tooltip>
      </div>
      <mat-slide-toggle class="mx-2" [checked]="isDarkTheme()" (change)="updateTheme($event)" labelPosition="before">
      </mat-slide-toggle>
    </div>
  </div>

  <div>
    <span class="flex">
      Density
      <app-help-tooltip
        tooltip="The scale moves to negative numbers as space decreases, creating higher density. Each increment represents a decrease in the height of a component by 4px."></app-help-tooltip>
    </span>
    <span class="text-xs italic text-black/60">
      You cannot see the result in the preview panel at the moment, but the density is applied to the downloadable
      output
    </span>
    <div>
      {{ density() }}
      <mat-slider min="-10" max="0" step="1">
        <input [(ngModel)]="density" matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <span>Font</span>
      <div class="flex flex-wrap items-center">
        <app-color-brick [color]="fontLight()" (colorChange)="updateLightFont($event)">
          <span class="text-black">light</span>
        </app-color-brick>
        <app-color-brick [color]="fontDark()" (colorChange)="updateDarkFont($event)">
          <span class="text-white">dark</span>
        </app-color-brick>
        <mat-checkbox [disabled]="true" [checked]="automaticContrast" class="ml-5">
          <div class="flex items-center justify-center">Determine contrast automatically</div>
        </mat-checkbox>
        <app-help-tooltip tooltip="Uncheck to specify contrast for each hue manually"></app-help-tooltip>
      </div>
    </div>
    <app-color-palette
      name="Primary"
      [fontLight]="fontLight()"
      [fontDark]="fontDark()"
      [palette]="primaryPal()"
      (paletteChange)="updatePrimaryPalette($event)"
      tooltip="For the color that appears most frequently throughout your application"></app-color-palette>
    <app-color-palette
      name="Accent"
      [fontLight]="fontLight()"
      [fontDark]="fontDark()"
      [palette]="accentPal()"
      (paletteChange)="updateAccentPalette($event)"
      tooltip="Secondary palette used to selectively highlight key parts of your UI"></app-color-palette>
    <app-color-palette
      name="Warn"
      [fontLight]="fontLight()"
      [fontDark]="fontDark()"
      [palette]="warnPal()"
      (paletteChange)="updateWarnPalette($event)"
      tooltip="Error palette used for warnings and error states. Default to material red."></app-color-palette>
  </div>
</div>
