<input
  #ignoredInput
  [colorPicker]="color()"
  (colorPickerChange)="setColor($event)"
  [cpToggle]="toggle()"
  (cpToggleChange)="setToggle($event)"
  [style.background]="color()"
  [cpIgnoredElements]="[ignoredInput]"
  [cpEyeDropper]="true"
  [cpExtraTemplate]="customTemplate"
  cpPosition="right"
  cpPositionOffset="50%"
  [cpPositionRelativeToArrow]="true"
  cpAlphaChannel="disabled"
  cpOutputFormat="hex"
  class="absolute z-50 h-0 w-0"
  [ngStyle]="position()" />

<ng-template #customTemplate>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <h4 class="!mb-0">Recently used</h4>
      </mat-expansion-panel-header>
      <div class="flex flex-wrap gap-2">
        @for (color of matColors; track color.name) {
          <div
            class="rounded-lg bg-white px-2 py-1"
            [style.background-color]="color.hexCode"
            (click)="setColor(color.hexCode)">
            {{ color.name }}
          </div>
        }
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4 class="!mb-0">Material colors presets</h4>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-6 items-center justify-center gap-2">
        @for (color of matColors; track color.name) {
          <button (click)="setColor(color.hexCode)" [matTooltip]="color.name | titlecase">
            <span
              [style.background-color]="color.hexCode"
              class="flex h-5 w-5 items-center justify-center rounded-sm shadow-sm">
            </span>
          </button>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
