<div class="flex flex-col gap-4 overflow-y-auto">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Toolbar </mat-panel-title>
    </mat-expansion-panel-header>
    <app-toolbar></app-toolbar>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Inputs </mat-panel-title>
    </mat-expansion-panel-header>
    <app-inputs></app-inputs>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Stepper </mat-panel-title>
    </mat-expansion-panel-header>
    <app-stepper></app-stepper>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Badge </mat-panel-title>
    </mat-expansion-panel-header>
    <app-badge></app-badge>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Bottom Sheet </mat-panel-title>
    </mat-expansion-panel-header>
    <app-bottom-sheet></app-bottom-sheet>
  </mat-expansion-panel>
</div>
