<div class="flex flex-col justify-center p-8 gap-8 overflow-auto">
  <div>
    <h1 class="mat-headline-4 whitespace-nowrap !mb-3">ng Material Themer</h1>
    <a class="flex items-center gap-2 cursor-pointer underline">
      @if(isDarkMode()){
      <img src="assets/svg/github-mark-white.svg" alt="github icon" width="20">
      }@else{
      <img src="assets/svg/github-mark.svg" alt="github icon" width="20">
      }
      Give it a star on Github!
    </a>
  </div>
  <div class="flex flex-col justify-center ">
    <h5 class="mat-typography">Use preset themes :</h5>
    <mat-chip-listbox aria-label="Preset theme selection" class="mb-4">
      @for (theme of themes; track theme.value) {
      <mat-chip-option [value]="theme.value">{{theme.label}}</mat-chip-option>
      }
    </mat-chip-listbox>

    <div class="flex items-center ">
      Dark mode
      <mat-icon class="mat-icon">brightness_2</mat-icon>
      <mat-slide-toggle [hideIcon]="true" class="mx-2" [checked]="!isDarkMode()" (change)="updateMode()">
      </mat-slide-toggle>
      <mat-icon class="mat-icon">brightness_7</mat-icon>
      Light mode
    </div>

  </div>
  <mat-divider></mat-divider>
  <app-theme name="my-custom-theme" label="Custom theme"></app-theme>
  <mat-divider></mat-divider>
  @if(!secondeTheme()) {
  <button mat-raised-button (click)="addSecondTheme()" class="">
    <mat-icon class="mat-icon">add</mat-icon>
    <span>Add a 2nd theme
      <span class="text-xs italic text-black/50">
        (Ex. dark mode)
      </span>
    </span>
  </button>
  } @else {
  <app-theme name="my-custom-dark-theme" label="Second custom theme"></app-theme>

  <button mat-raised-button color="warn" (click)="removeSecondTheme()" class="max-w-64">
    <mat-icon class="mat-icon">remove</mat-icon>
    <span>Remove second theme</span>
  </button>
  }
  <mat-divider></mat-divider>
  <div>
    <mat-form-field class="!mb-0 w-32">
      <mat-label>Style lang</mat-label>
      <mat-select [(value)]="cssMode" class="!text-sm">
        <mat-option value="CSS">CSS</mat-option>
        <mat-option value="SASS">SCSS/SASS</mat-option>
        <mat-option value="LESS">LESS</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex gap-5">
      <button mat-raised-button color="accent" class="max-w-64">
        <mat-icon class="mat-icon">download</mat-icon>
        <span>Download style file</span>
      </button>
      <button mat-raised-button color="accent" class="max-w-64">
        <mat-icon class="mat-icon">content_copy</mat-icon>
        <span>Copy style</span>
      </button>
    </div>
  </div>
</div>