<div
  #matMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="menu"
  (click)="editColor($event)"
  class="example-box !cursor-default"
  [style.background-color]="color"
  [attr.data-hue]="colorName">
  <span class="rounded-lg bg-white px-2 py-1">
    {{ colorName }}
  </span>
  <div class="flex gap-2">
    @for (mark of marks; track mark) {
      <mat-chip class="!cursor-move border-[1px] border-black/50 bg-slate-300" cdkDrag [attr.data-mark]="mark">
        {{ mark }}
      </mat-chip>
    }
  </div>
</div>
<mat-menu #menu="matMenu" (close)="picker.reset()">
  <app-color-picker #picker (click)="$event.stopPropagation(); $event.preventDefault()"></app-color-picker>
</mat-menu>
